/* Contains style rules for Critocracy */

h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    background-color: #643085;
    font-family: Papyrus, "Brush Script MT", Monaco;
    color: #ffffff;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    font-family: Papyrus, "Brush Script MT", Monaco;
    text-align: justify;
}

li {
    font-family: Papyrus, "Brush Script MT", Monaco;
    color: #ffffff;
}
