/* Contains style rules for Critocracy */

h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

h2 {
    background-color: #1a6b6b;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #ffffff;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 15px;
    font-family: Georgia, "Times New Roman", serif;
    text-align: justify;
    word-spacing: 1px;
}
